* {
    margin: 5px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.container {
    background: #fff;
    padding: 20px;
    font-family: monospace;
    width: 60%;
    box-shadow: 0 0 5px #cfa671;
    border-radius: 10px;
}
.container>h1,.container>p {
    text-align: center;
}
.head {
    text-transform: uppercase;
    margin: 20px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #cfa671;
}
.commentbox {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.commentbox>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}
.form_group {
    
    margin: 0 auto 1.25 auto;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}
.form_control {
    font-size: 16px;
    display: block;
    width: 30%;
    height: 2.2em;
    color: #495057;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    background-clip: padding-box;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.content {
    width: 100%;
}

.content>input {
    border-bottom: 2px solid #cfa671;
}
.user {
    font-size: 20px;
    border: none;
    outline: none;
    margin: 5px 0;
    color: #404040;
    margin-left: 20px;
    padding: 10px;
}

.commentinput>input {
    font-size: 20px;
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid #cfa671;
    margin-bottom: 10px;
    width: 95%;
}

.buttons {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #808080;
}

.buttons button {
    width: 200px;
    height: 50px;
    padding: 5px 10px;
    background: rgb(175, 175, 175);
    color: #cbcbcb;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
}

.buttons button.abled {
    background:#fff;
    color: #d0a267;
    border: 3px solid #d0a061;
    border-radius: 10px;
}

.notify {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.notify>input {
    margin-right: 5px;
}

.parents {
    display: flex;
    margin-top: 30px;
}
.parents h1 {
    font-size: 1.5em;
    color: #a47639;
}
.parents h2 {
    font-size: 1.3em;
    color: #d29e5b;
}
.parents p {
    font-size: 1.1em;
}
.parents>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.date {
    color: #5e5e5e;
    font-size: 0.9em;
}
.card {

    display: flex;
    flex-direction: column;
    page-break-after: 1em 0;
  }
  
  .heading {
    font-size: 1em;
    color: #555;
  }
  
  .stars i {
    font-size: 1.5em;
    color: gold;
    position: relative;
  }
  
  .stars div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
  }
  
  .stars div:nth-child(1) {
    left: 0;
  }
  
  .stars div:nth-child(2) {
    right: 0;
  }
  
  .rating {
    font-size: 1em;
    color: #808080;
  }